.breadcrumb_content, .breadcrumb_home,
.breadcrumb_projects, .breadcrumb_new {
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 10px 10px 10px 5px;
}
.breadcrumb {
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
}
.breadcrumb_content {
    border-radius: 20px;
    cursor: pointer;
    background: #F2F2F2;
    box-sizing: border-box;
    padding: 10px 15px 10px 10px;
}
.breadcrumb_home,
.breadcrumb_projects, .breadcrumb_new {
    margin-left: 10px;
    padding: 0px;
}
.home_svg {
    margin-top: -3px;
}
.breadcrumb span {
    font-size: 14px;
    margin-left: 10px;
}