.dashboard_contents .projects, 
.dashboard_contents .projects_full {
    height: 100%;
    background-color: #DDE9F6;
    transition: width 1s ease-in-out;
    overflow-x: hidden;
    display: flex;
}
.projects {  
    width: calc(100% - 250px);
}
.projects_full {
    width: calc(100% - 100px);
}
.projects .progress_sidebar_div,
.projects_full .progress_sidebar_div {
    width: auto;
    max-width: 400px;
    height: 100%;
    display: flex;
}
.PSD_toggler, .PSD_toggler_full {
    position: absolute;
    z-index: 23;
    top: 110px;
    width: max-content;
    height: auto;
    cursor: pointer;
    background-color: #0076F7;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: right .4s ease-in-out;
}
.PSD_toggler {
    right: 30px;
}
.PSD_toggler_full {
    right: 430px;
}
.projects .projects_wrapper, 
.projects_full .projects_wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    padding: 50px 0px;
    background-color: #DDE9F6;
    /* overflow-y: scroll; */
    /* align-items: center; */
}
.projects .projects_wrapper, 
.projects_full .projects_wrapper {
    width: calc(100% - 400px);
}
.projects .projects_wrapper_full, 
.projects_full .projects_wrapper_full {
    width: 60%;
}
.projects_wrapper .projects_content,
.projects_wrapper_full .projects_content {
    width: 90%;
}
.projects_content { 
    height: auto;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    box-sizing: border-box;
}
.report_content input {
    width: min(90%, 20rem);
    height: auto;
    box-sizing: border-box;
    padding: 10px;
    outline: none;
    border: 1px solid #8E8E8E;
    border-radius: 10px;
    margin-top: 10px;
}
.report_content input:focus {
    border: 1px solid blue;
}
.projects_content > h1 {
    font-size: 30px;
    font-weight: bold;
    line-height: 1.5rem;
    /* margin-top: 30px; */
}
.big {
    font-size: 18px;
    line-height: 1.5rem;
    color: #8E8E8E;
    font-weight: 500;
}
.select_dropdown {
    width: min(90%, 30rem);
    height: auto;
    margin-top: 10px;
    border-radius: 10px;
}
.projects_content .report_container {
    width: 100%;
    height: auto;
    background: #FEFEFE;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 30px 50px 50px 50px;
    margin-top: 20px;
}
.texts {
    width: auto;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    margin-top: 30px;
}
.texts h1 {
    font-size: 20px;
    font-weight: 650;
    line-height: 1rem;
}
.texts span {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5rem;
}
.projects_content .projects_base {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.projects_base_content {
    width: auto;
    display: flex;
}
.projects_back {
    text-decoration: none;
    color: white;
}
.projects_base_content .projects_base_button {
    margin-left: 20px;
    width: 200px;
    height: auto;
}
@media screen and (max-width: 770px) {
    .dashboard_contents .projects, 
    .dashboard_contents .projects_full {
        transition: display 1s ease-in-out;
    }
    .projects {
        display: none;
        width: 0%;
    }
    .dashboard .projects_full {
        width: 100%;
    }
    .projects .projects_wrapper, 
    .projects_full .projects_wrapper {
        width: 0px;
        display: none;
    }
    .PSD_toggler_full {
        right: calc(100vw - 50px)
    }
}